@attribute [StreamRendering]

@if (@state != null)
{
<td>
    <p>@rarity - @score%</p>
    <img />
    <p>@state</p>

</td>
} else
{
    <td @onclick="@(() => openInput())" style="borders:all">
    </td>
}


@code {
    public string? rarity = null;
    public double? score = null;
    public string? state = null;

    public void openInput()
    {
        Console.WriteLine("My debug output.");
        state = "Alabama";
        fetchStats();
    }

    private void fetchStats()
    {
        rarity = "common";
        score = 37.8;
    }

    void Edit() => Console.WriteLine($"Edit item:");
}
