@rendermode InteractiveServer

@if (@state != null)
{
<p>@rarity - @score%</p>
<img />
<p>@state</p>
} 


@code {
    private string? rarity = null;
    private double? score = null;
    private string state = "";

    [Parameter]
    public string stateParam { get; set; } = "";

    protected override void OnParametersSet()
    {
        if(state != stateParam)
        {
            state = stateParam;
            score = 10.1;
            rarity = "rare";
        }
    }

}
