@rendermode InteractiveServer

@if (@state != null)
{
    <img style="display:block; width:100%;" src="@imageSource" />
    <p style="text-align: center">@state</p>
} 


@code {
    private string state = "";
    private string imageSource = "";

    [Parameter]
    public string stateParam { get; set; } = "";

    protected override void OnParametersSet()
    {
        if(state != stateParam)
        {
            state = stateParam;
            ShowImage(stateParam);
        }
    }

    private void ShowImage(string name) => imageSource = $"flags/{name}.svg";

}
