@using BlazorApp1.Components.Pages
<div class="modal modal-xl @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
    <div class="modal-dialog" role="document" style="z-index:1055">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Category Descriptions</h5>
            </div>
            <div class="modal-body">
                <div class="modal-box">
                    @foreach (var d in descriptions){
                        <ul @onclick="() => categoryNumber=descriptions.IndexOf(d)">@d</ul>
                    }
                </div>
                <div class="modal-box-right">
                    <DescriptionHolder categoryNumber="categoryNumber"></DescriptionHolder>
                </div>
            </div>
        </div>
    </div>
    @if (ShowBackdrop)
    {
        <div class="modal-backdrop fade show" data-dismiss="modal" @onclick="() => Close()"></div>
    }
</div>





@code {


    public Guid Guid = Guid.NewGuid();
    public string ModalDisplay = "none;";
    public string ModalClass = "";
    public bool ShowBackdrop = false;
    private int categoryNumber;
    private List<string> descriptions = new List<string> { 
    "State starts/ends with X",
    "Name is X letters",
    "Name is multiple words",
    "Capital starts/ends with X",
    "Capital is largest city",
    "Largest City starts/ends with X",
    "Name is of X origin",
    "State Population over/under X",
    "Capital Population over/under X",
    "Largest City Population over/under X",
    "Top/Bottom X in Population Density",
    "Contains Top X Largest City",
    "GDP per capita greater/less than $X",
    "Net X federal revenue",
    "Land Area greater/less than X sq mi",
    "Part of the X region",
    "Part of New England",
    "Is a U.S. territory",
    "Borders X states",
    "Has international border",
    "Borders Canada",
    "Borders Mexico",
    "Landlocked",
    "Islands only",
    "Has ocean coast",
    "Has Atlantic Ocean coast",
    "Has Gulf of Mexico coast",
    "Has Pacific Ocean coast",
    "Borders a Great Lake",
    "Contains Mississippi River",
    "Contains Missouri River",
    "Contains Appalachian Mountains",
    "Contains Rocky Mountains",
    "Has X timezones",
    "Admitted to the Union before/after X",
    "Among the first/last X states admitted to the Union",
    "Was one of the Thirteen Colonies",
    "Is the birthplace of a U.S. president",
    "Was part of the Louisiana Purchase",
    "Voted for Abraham Lincoln",
    "Site of Civil War battle",
    "Has ever had a Woman Governor",
    "Current Governor is X party",
    "Has X number of congressional districts",
    "Has X number of electoral votes",
    "X death penalty",
    "Has hosted the Super Bowl",
    "Has played in the Super Bowl",
    "Has won the Super Bowl",
    "Has won the World Series",
    "Has hosted the Olympics",
    "Flag contains/does NOT contain X color",
    "Flag has X number of colors",
    "Flag contains/does NOT contain a Star/Sun",
    "Flag contains/does NOT contain a Human",
    "Flag contains/does NOT contain an Animal",
    "Flag contains/does NOT contain an Eagle",
    "Flag contains/does NOT contain a Coat of Arms",
    "Flag contains/does NOT contain Text",
    "Flag has/does NOT have a Blue Background",
    "X number of National Historic Landmarks",
    "X national parks",
    "Hosts an Ivy League university",
    "Tallest Building greater/less than X feet",
    "Top X in Amish population",
    "Has locality named 'Springfield'"
};

    public void show(int index)
    {
        ModalDisplay = "block;";
        ModalClass = "Show";
        ShowBackdrop = true;
        categoryNumber = index;
        StateHasChanged();
    }

    public void Close()
    {
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }
}
