@if(categoryNumber == 1)
{
    <b>Category Name</b>
    <p>
        States for which their current governor is of a given political party.
    </p><p>
        For U.S. territories, political parties/governors that affiliate with one of the two major parties in the contiguous United States count as being part of said major parties. The mayor of the District of Columbia counts as a governor.
    </p>
    <p>Source: <a href="https://en.wikipedia.org/wiki/List_of_current_United_States_governors">sourceDescription</a></p>
} 
else if(categoryNumber == 2)
{
    <b>woowie</b>
    <p>
        States for which their current governor is of a given political party.
    </p>

    <p>
        For U.S. territories, political parties/governors that affiliate with one of the two major parties in the contiguous United States count as being part of said major parties. The mayor of the District of Columbia counts as a governor.
    </p>
    <p>Source: <a href="https://en.wikipedia.org/wiki/List_of_current_United_States_governors">sourceDescription</a></p>
}

@code{
    [Parameter]
    public int categoryNumber { get; set; }

}
