@using BlazorApp1.Components.Pages
<div class="modal modal-xl @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
    <div class="modal-dialog" role="document" style="z-index:1055">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Category Descriptions</h5>
            </div>
            <div class="modal-body">
                <div class="modal-box">
                    @foreach (var d in descriptions.Keys){
                        <ul @onclick="() => categoryNumber=descriptions.GetValueOrDefault(d)">@d</ul>
                    }
                </div>
                <div class="modal-box-right">
                    <DescriptionHolder categoryNumber="categoryNumber"></DescriptionHolder>
                </div>
            </div>
        </div>
    </div>
    @if (ShowBackdrop)
    {
        <div class="modal-backdrop fade show" data-dismiss="modal" @onclick="() => Close()"></div>
    }
</div>





@code {


    public Guid Guid = Guid.NewGuid();
    public string ModalDisplay = "none;";
    public string ModalClass = "";
    public bool ShowBackdrop = false;
    private int categoryNumber;

    //int is the description number for the db and the description holder
    private Dictionary<string, int> descriptions = new Dictionary<string, int> { 
        {"State starts/ends with X", 0},
        {"Name is X letters", 1},
        {"Name is multiple words", 2},
        {"Capital starts/ends with X", 3},
        {"Capital is largest city", 4},
        {"Largest City starts/ends with X", 5},
        {"Name is of X origin", 6},
        {"State Population over/under X", 7},
        {"Capital Population over/under X", 8},
        {"Largest City Population over/under X", 9},
        {"Top/Bottom X in Population Density", 10},
        {"Contains Top X Largest City", 11},
        {"GDP per capita greater/less than $X", 12},
        {"Net X federal revenue", 13},
        {"Land Area greater/less than X sq mi", 14},
        {"Part of the X region", 15},
        {"Part of New England", 16},
        {"Is a U.S. territory", 17},
        {"Borders X states", 18},
        {"Has international border", 19},
        {"Borders Canada", 20},
        {"Borders Mexico", 21},
        {"Landlocked", 22},
        {"Islands only", 23},
        {"Has ocean coast", 24},
        {"Has Atlantic Ocean coast", 25},
        {"Has Gulf of Mexico coast", 26},
        {"Has Pacific Ocean coast", 27},
        {"Borders a Great Lake", 28},
        {"Contains Mississippi River", 29},
        {"Contains Missouri River", 30},
        {"Contains Appalachian Mountains", 31},
        {"Contains Rocky Mountains", 32},
        {"Has X timezones", 33},
        {"Admitted to the Union before/after X", 34},
        {"Among the first/last X states admitted to the Union", 35},
        {"Was one of the Thirteen Colonies", 36},
        {"Is the birthplace of a U.S. president", 37},
        {"Was part of the Louisiana Purchase", 38},
        {"Voted for Abraham Lincoln", 39},
        {"Site of Civil War battle", 40},
        {"First Black congress member before X", 41},
        {"Has ever had a Woman Governor", 42},
        {"Current Governor is X party", 43},
        {"Has X number of congressional districts", 44},
        {"Has X number of electoral votes", 45},
        {"X death penalty", 46},
        {"Has hosted the Super Bowl", 47},
        {"Has played in the Super Bowl", 48},
        {"Has won the Super Bowl", 49},
        {"Has won the World Series", 50},
        {"Has hosted the Olympics", 51},
        {"Flag contains/does NOT contain X color", 52},
        {"Flag has X number of colors", 53},
        {"Flag contains/does NOT contain a Star/Sun", 54},
        {"Flag contains/does NOT contain a Human", 55},
        {"Flag contains/does NOT contain an Animal", 56},
        {"Flag contains/does NOT contain an Eagle", 57},
        {"Flag contains/does NOT contain a Coat of Arms", 58},
        {"Flag contains/does NOT contain Text", 59},
        {"Flag has/does NOT have a Blue Background", 60},
        {"X number of National Historic Landmarks", 61},
        {"X national parks", 62},
        {"Hosts an Ivy League university", 63},
        {"Tallest Building greater/less than X feet", 64},
        {"Top X in Amish population", 65},
        {"Has locality named 'Springfield'", 66}

    };

    public void show(int index)
    {
        ModalDisplay = "block;";
        ModalClass = "Show";
        ShowBackdrop = true;
        categoryNumber = index;
        StateHasChanged();
    }

    public void Close()
    {
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }
}
