@page "/"
@attribute [StreamRendering]


@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th class="invisible"></th>
                <Category></Category>
                <Category></Category>
                <Category></Category>
            </tr>
        </thead>
        <tbody>
            <tr>
                <Category></Category>
                <Answer />
                <Answer />
                <Answer />
            </tr>
            <tr>
                <Category></Category>
                <Answer />
                <Answer />
                <Answer />
            </tr>
            <tr>
                <Category></Category>
                <Answer />
                <Answer />
                <Answer />
            </tr>
        </tbody>
    </table>
}

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        // Simulate asynchronous loading to demonstrate streaming rendering
        await Task.Delay(500);

        var starAnswerate = DateOnly.FromDateTime(DateTime.Now);
        var summaries = new[] { "Freezing", "Bracing", "Chilly", "Cool", "Mild", "Warm", "Balmy", "Hot", "Sweltering", "Scorching" };
        forecasts = Enumerable.Range(1, 5).Select(index => new WeatherForecast
        {
            Date = starAnswerate.AddDays(index),
            TemperatureC = Random.Shared.Next(-20, 55),
            Summary = summaries[Random.Shared.Next(summaries.Length)]
        }).ToArray();
    }

    private class WeatherForecast
    {
        public DateOnly Date { get; set; }
        public int TemperatureC { get; set; }
        public string? Summary { get; set; }
        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
