@using BlazorApp1.Components.Pages
<div class="modal modal-xl @ModalClass" tabindex="-1" role="dialog" style="display:@ModalDisplay">
    <div class="modal-dialog" role="document" style="z-index:1055">
        <div class="answerInput modal-content">
            <div class="modal-header">
                <h2>How to Play</h2>
                <button type="button" class="btn-close" aria-label="Close" @onclick="Close"></button>
            </div>
            <div class="modal-body2">

                <p>This game is a Dle. It’s a free game that updates every day with a new puzzle. It’s a grid-based or sudoku-like Dle game. Another game in this genre of Dle is Word Grid by CleverGoat. You can find other fun Dles at this link.</p>

                <p>This Dle game is based around the 50 U.S. states, the 5 populated U.S. territories, and the District of Columbia. In this game, the word “state” is typically used to refer to all 56 of these entities, for convenience’s sake.</p>

                <p>This game features a 3x3 grid. Each row and column of the grid has a category associated with it. To play the game, click the square in the grid and try to input a U.S. state that would fit in both of the square’s categories. For example, if a square was at the intersection of the categories “State starts with ‘A’” and “State ends with ‘A’”, either ‘Alaska’ or ‘Alabama’ would be correct answers. You can click on a category’s tab to gain additional context.</p>

                <p>The goal of the game is to try and put states in each of the 9 squares. You can only use each state once on each puzzle. You MAY move a state you’ve already used by simply inputting its name on another square. You also have a score in the game. The lower your score is the better. The rarer the states you guess, the lower your score will be. Your score will update as more people play the game, and rarities of answers change. You can play games from past days by clicking on the arrow buttons labeled “Archive”.</p>

                <p>Both correct and incorrect answers use up a “guess”. You have 10 guesses per puzzle, meaning you have room to make 1 mistake and still fill all 9 squares. Moving states from one square to another DOES NOT use up a guess. Changing the answer on a square DOES use up a guess. Running out of guesses will end the game. If you’d like to make the game easier, you can turn on Infinite Guesses Mode. You cannot turn Infinite Guesses Mode off after you’ve turned it on and made a guess with it.</p>

                <p>When you’re finished with a puzzle, you can click “Copy to clipboard” to send your score with friends. This will let you share your score without spoiling the answers.</p>

            </div>
        </div>
    </div>
    @if (ShowBackdrop)
    {
        <div class="modal-backdrop fade show" data-dismiss="modal" @onclick="() => Close()"></div>
    }

</div>


@code {
    public Guid Guid = Guid.NewGuid();
    public string ModalDisplay = "none;";
    public string ModalClass = "";
    public bool ShowBackdrop = false;


    public void show()
    {
        ModalDisplay = "block;";
        ModalClass = "Show";
        ShowBackdrop = true;
        StateHasChanged();
    }

    public void Close()
    {
        ModalDisplay = "none";
        ModalClass = "";
        ShowBackdrop = false;
        StateHasChanged();
    }
}
