html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #006bb7;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}
.table {
    display: table;
    width: 100%;
}

.table-cell {
    display: table-cell;
    max-width: 0px;
    border: 1px solid gray;
}
.table-cell:hover {
    background-color: #f2f2f2;
}
.popupCell:hover {
    padding: 0px;
    background-color: #f2f2f2;
    cursor: crosshair;
    margin: 0px;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.board {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    gap: 12px;
}

.top-container{
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
}

.three-column-layout{
    display: flex;
    background-color: #232330;
    justify-content: center;
    flex: 1;
}
.sidebar {
    width: 350px;
    min-height: 500px;
    padding: .8rem;
    position: sticky;
    top: 0;
}
.panel {
    flex-direction: column;
}
.panel, .row {
    display: flex;
    gap: 8px;
}
.row {
    align-items: stretch;
    flex-direction:row;
    height: var(--cell-width);
}
.row:first-child {
	height: -moz-max-content;
	height: max-content;
	margin-bottom: 8px;
	margin-right: 0;
}
.prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dfdfdf;
    font-size: 14px;
    background-color: #4c4c67;
    min-height: 60px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 16px;
    cursor: pointer;
    width: var(--cell-width);
}

.prompt:hover {
    background-color: #4c67dc;
}

.box {
    width: var(--cell-width);
    height: 100%;
    background-color: rgba(0,0,0,.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #dfdfdf;
    cursor: pointer;
    transition: background-color .25s;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 6px;
}
.invisible {
    width: var(--cell-width);
}
.column-item{
    padding: 8px;
}
.modal-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
:root {
    --cell-width: 150px;
    --cell-width-tablet: 120px;
    --cell-width-mobile: 90px;
    --cell-width-small-mobile: 80px;
    --cell-width-minuscule-mobile: 70px;
}