html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #006bb7;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.content {
    padding-top: 1.1rem;
}

h1:focus {
    outline: none;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid #e50000;
}

.validation-message {
    color: #e50000;
}
.table {
    display: table;
    width: 100%;
}

.table-cell {
    display: table-cell;
    max-width: 0px;
    border: 1px solid gray;
}
.table-cell:hover {
    background-color: #f2f2f2;
}
.popupCell:hover {
    padding: 0px;
    background-color: #f2f2f2;
    cursor: crosshair;
    margin: 0px;
}

    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.darker-border-checkbox.form-check-input {
    border-color: #929292;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}


@media screen and (min-width: 900px) {
    .board {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
        gap: 12px;
    }
    :root {
        --cell-width: 10vw;
    }

}
@media screen and (max-width: 900px) {
    .board {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        margin-right: auto;
        margin-left: auto;
        width:85%;
        gap: 12px;
    }
    :root {
        --cell-width: 20vw;
    }
}

.top-container {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #2a0204;
    height: 100vh;
}

.three-column-layout {
    display: flex;
    background-color: #2a0204;
    justify-content: center;
    flex: 1;
}
.sidebar {
    width: 2vw;
    min-height: 500px;
    position: sticky;
    top: 0;
}
.panel {
    flex-direction: column;
}
.panel, .row {
    display: flex;
    gap: 8px;
}
.row {
    align-items: stretch;
    flex-direction:row;
    min-height: var(--cell-width);
}
.row:first-child {
	height: -moz-max-content;
	height: max-content;
	margin-bottom: 8px;
	margin-right: 0;
}
.prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dfdfdf;
    font-size: 14px;
    background-color: #723034;
    min-height: 60px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 16px;
    cursor: pointer;
    width: var(--cell-width);
}

    .prompt:hover {
        background-color: #b1474c;
    }

.box {
    width: var(--cell-width);
    height: 100%;
    background-color: rgba(0,0,0,.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #dfdfdf;
    cursor: pointer;
    transition: background-color .25s;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 6px;
}

    .box:hover {
        background-color: rgba(54, 54, 54, 0.3)
    }

.modal-box {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #dfdfdf;
    cursor: pointer;
    background-color: #1c9641;
    transition: background-color .25s;
    border-radius: 12px;
    box-sizing: border-box;
    overflow-y: auto;
    padding: 6px;
}
.modal-box-right {
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #dfdfdf;
    cursor: pointer;
    background-color: #1c9641;
    transition: background-color .25s;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 6px;
}
.modal-content {
    height: 40vh;
    background-color: #08682a;
}

.title {
    width: 100%;
    padding-inline: 32vw;
    padding-bottom: 25px;
    padding-top: 25px;
}


.invisible {
    width: var(--cell-width);
}
.column-item{
    padding: 8px;
}
.modal-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}
